@media (min-width: 980px) {
    .main-layout {
        display: grid;
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 980px) minmax(20px, 1fr); 
        grid-template-rows: minmax(130px, 1fr) auto; 
        margin: 0;
    }

    .card-details {
        display: flex;
        flex-direction: column;
        /* grid-column: 2; */
        align-items: flex-start;
        /* height: 100%; */
    
      }

    .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 41px;

    margin-top: 80px;
  }
  /* .card-btn{
    margin-top: auto;
  } */

  
}

@media (width < 980px){
    .main-layout {
      margin: 0;
      grid-template-columns: minmax(25px, 1fr) 430px minmax(25px, 1fr);
    }
  
    .main-content{
      grid-column: 2;
    }
    .card {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 41px;
      height: 100%;
    }
  
    .card-image {
      grid-row: 1;
      display: flex;
      justify-content: center; 
      align-items: center;      
      margin: auto;
      
    }
  
    /* .card-image img {
      display: block;
      max-width: 100%;
      height: auto;
    } */
    
    .card-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  
    .card-title {
      text-align: center;
    }
  
    /* .card-btn {
      margin-top: 20px;
    } */

    .page-nav {
      gap: auto;
    }

    .right-arrow::after{
        margin-right: auto;
    }
    
    .main-logo{
        margin-left: 10vw;
    }
    body{
       max-width: max-content;
       min-width: none;
    }
    
  }
  

